.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.form-group {
    margin: 10px;
}

table {
    margin: 0 auto;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0096c7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #007bb5;
}
